.Button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border-radius: 15px;
  &.button__medium {
    padding: 10px;
    margin: 5px;
    width: 25%;
  }
  &.button__large {
    padding: 10px;
    margin: 5px;
    width: 65%;
  }
  &.color__blue {
    background-color: #0A6570;
  }
}

.Button:hover {
    
}


