.Button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: cornflowerblue;
  cursor: pointer;
  border-radius: 15px;
  &.button__medium {
    padding: 10px;
    margin: 5px;
    width: 25%;
  }
  &.button__large {
    padding: 10px;
    margin: 5px;
    width: 65%;
  }
}

.Button:hover {
    border: solid 1px black;
}


