.SignUp__Wrapper {
  color: #fcfcfb;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../static/back.jpg");
}
.SignUp__Form {
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  background: transparent;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  font-weight: 200;
  font-stretch: condensed;
  h1 {
    padding: 20px;
    text-shadow: #c9c8b7 1px 0 10px;
    font-weight: 900;
  }
} 
.SignUp__Link {
  display: flex;
  width: 260px;
  justify-content: space-between;
  padding: 10px;
}
input:focus + .shift__up,
input:valid + .shift__up {
  transform: translateY(-60px);
}

input:focus + .ErrorList {
  
}
