@import "../../utils/colors.scss";
.List {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    ul {
        
    }
    li {
        padding-left: 2px;
        cursor: pointer;
    }
    li:hover {
        color: $jaffa;
        border-left: 2px solid $jaffa;
    }
    &.text-black {
        color: black;
    }
}