.Input {
  width: 78%;
  border: none;
  outline: none;
  background: transparent;
  margin: 10px 0;
  color: #fcfcfb;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  &.bottom__border {
    border-bottom: solid 2px #fcfcfb;
  }
}
