$desert-storm: #fcfcfb;
$foggy-gray: #C9C8B7;
$carra: #F3F3EF;
$regal-blue: #014466;
$daintree: #012233;
$swamp: #00111A;
$jaffa: #ED7C46;
$everglade: #17402E;
$atol: #0A6570;
$elm: #20737D;
$nepal: #8FB9BE;
$southpeak: #EADED2;
$wellblue: #02888B;
