@import "../../utils/colors.scss";
.ErrorList {
    display: flex;
    align-items: center;
    background-color: $atol;
    list-style-type: circle;
    list-style-position: inside;
    width: 300px;
    min-height: 25px;
    position: relative;
    padding: 14px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bolder;
    text-align: left;
    &.arrow__left:after {
            content: " ";
            position: absolute;
            left: -13px;
            top: 8px;
            border-top: 13px solid transparent;
            border-right: 15px solid $atol;
            border-left: none;
            border-bottom: 13px solid transparent;
        }
    li {
      padding: 2px;
    }
}