@import "../../utils/colors.scss";
.Nav-Bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: $jaffa ;
    color: $desert-storm;
    top: 0;
    position: sticky;
    width: 100%;
    height: 58px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
    z-index: 1;
    &__Logo {
        margin-left: 30px;
        text-decoration: none;
        color: $desert-storm;
        font-size: 32px;
    }
    &__Nav {
        margin-right: 30px;
        display: flex;
        align-items: center;
        ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        }
        li {
        cursor: pointer;
        display: flex;
        align-items: center;
        }
    }
    &__Icon-Wrapper {
        transform: translateY(2px);
    }
    &__Icon {
        color: $desert-storm;
    }
    &__profile-img {
        background: black;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
}

.Dropdown{
    display: inline-block;
    .Drop-Menu {
        right: 30px;
        top: 55px;
        li:nth-child(4) {
            background: white;
            border-radius: 3px;
        }
        li:nth-child(5) {
            background: white;
            border-radius: 3px;
        }
    }
}

